@import "tailwindcss";
@config './tailwind.config.js';

@custom-variant dark (&:where(.theme-dark, .theme-dark *));

@theme inline {
	--font-*: initial;
	--font-sans: var(--font-family);
	--font-serif: var(--font-family-display);
	--font-display: var(--font-family-display);
	--font-mono: var(--font-family-mono);

	--color-primary: var(--primary-color);
	--color-success: var(--success-color);
	--color-error: var(--error-color);
	--color-warning: var(--warning-color);
	--color-info: var(--info-color);
	--color-border: var(--border-color);
	--color-hover: var(--hover-color);

	--color-extra-1: var(--extra1-color);
	--color-extra-2: var(--extra2-color);
	--color-extra-3: var(--extra3-color);
	--color-extra-4: var(--extra4-color);

	--border-color-default: var(--border-color);

	--background-color-default: var(--bg-default-color);
	--background-color-secondary: var(--bg-secondary-color);
	--background-color-body: var(--bg-body-color);
	--background-color-sidebar: var(--bg-sidebar-color);

	--text-color-default: var(--fg-default-color);
	--text-color-secondary: var(--fg-secondary-color);
	--text-color-tertiary: var(--fg-tertiary-color);

	--breakpoint-xs: 460px;
	--breakpoint-mobile: 701px;

	--animate-fade: fade 0.3s forwards;
	@keyframes fade {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}
