.n-modal-mask {
	backdrop-filter: blur(3px);
}
.n-modal,
.n-card.n-modal[role] {
	background-color: rgba(var(--bg-default-color-rgb) / 0.7);
	backdrop-filter: blur(20px);
	max-width: 90%;
	margin: 10vh auto;
}
.n-card {
	.n-card-header {
		flex-wrap: wrap;
		gap: 12px;
		justify-content: flex-end;

		.n-card-header__main {
			min-width: auto !important;
		}
	}
}

.n-image-preview-container {
	.n-image-preview-overlay {
		backdrop-filter: blur(3px);
	}
	.n-image-preview-toolbar {
		box-sizing: content-box;

		* {
			box-sizing: content-box;
		}

		& > i {
			font-size: clamp(18px, 5.5vw, 28px);
		}
	}
}

.n-slider {
	box-sizing: content-box;
}

.n-calendar * {
	box-sizing: content-box;
}

.n-badge {
	direction: ltr;
}

.n-dropdown-menu {
	&.n-dropdown-menu--scrollable {
		max-height: 60vh;
	}
}

.n-card {
	& > .n-card__content {
		max-height: 100%;
	}
}

.n-avatar .n-avatar__text {
	transform: translateX(-50%) translateY(-50%) scale(1);
}

// popover max-width
.v-binder-follower-content {
	max-width: calc(100vw - (var(--view-padding) * 2));
}

.n-data-table {
	.n-data-table-resize-button {
		--n-merged-border-color: rgba(var(--fg-secondary-color-rgb) / 0.35);
	}
}

.n-steps {
	.n-step {
		align-items: center;

		.n-step-content {
			.n-step-content-header {
				margin-left: 0;
				margin-top: 0;
			}
			.n-step-content__description {
				margin-top: 0;
			}
		}
	}
}

.n-spin-container {
	.n-spin-body {
		inset: 0 !important;
		transform: none !important;
		display: block;

		.n-base-loading {
			position: sticky;
			top: 50%;
			margin-top: min(50%, 100px);
			width: 100%;
			display: flex;
			justify-content: center;
			transform: translateY(-70px);

			.n-base-loading__transition-wrapper {
				width: 1em;
				height: 1em;
			}
		}

		.n-spin-description {
			position: sticky;
			top: calc(50% + 50px);
			left: 50%;
			transform: translateX(-50%) translateY(-40px);
			margin-top: 0;
		}
	}
}

.n-form-item {
	.n-form-item-feedback-wrapper:not(:empty) {
		transform: translateY(-7px);
		padding-left: 0px !important;
		padding-right: 0px !important;
		padding-top: 0 !important;
		z-index: 1;

		.n-form-item-feedback {
			font-size: 13px;
			line-height: 1.2;
			padding: 3px 12px;
			border-bottom-left-radius: var(--border-radius);
			border-bottom-right-radius: var(--border-radius);
			background: color-mix(in srgb, currentColor 5%, var(--bg-default-color) 95%);
			border: 1px solid currentColor;
			border-top: 0;
		}
	}

	&.n-form-item--small-size {
		.n-form-item-feedback-wrapper:not(:empty) {
			transform: translateY(-6px);

			.n-form-item-feedback {
				font-size: 11px;
				padding: 3px 10px;
			}
		}
	}

	&.n-form-item--small-large {
		.n-form-item-feedback-wrapper:not(:empty) {
			.n-form-item-feedback {
				padding: 3px 14px;
			}
		}
	}

	.n-form-item-blank--error {
		.n-upload-dragger {
			border-color: var(--n-feedback-text-color-error);
		}
		.n-upload-file-list:not(:empty) {
			margin-bottom: 24px;
		}
	}
}

.n-menu {
	.n-menu-item {
		.n-menu-item-content {
			gap: 16px;

			.n-menu-item-content__icon {
				margin-right: 0 !important;
				margin-left: 0 !important;
			}
		}
	}
	.n-menu-item-group {
		.n-menu-item-group-title {
			padding-left: 22px !important;
			padding-right: 22px !important;
		}
	}

	&.n-menu--horizontal {
		.n-menu-item {
			.n-menu-item-content {
				gap: 8px;
			}
		}
	}
}